body{
    margin: 0;
    padding: 0;
    }
    .grid{
        display: flex;
        flex-wrap: nowrap;
        height: 100vh;
        width: 100%;
        box-sizing: border-box;
    }
    .bloc1{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        width: 20%;
        height: 100vh;
        background-color: rgb(0, 0, 0);
    }
    .logo{
        height: 80%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .wedding{
        height: 15vh;
        width: 15vw;
        padding: 10%;
    }
    .menu{
    display: grid;
    justify-content: center;
    grid-gap: 3%;
    padding-bottom: 10%;
    }
    .aceuil{
        color:	rgb(203,170,108);
        background-color: transparent;
        outline:none;
        border: none;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 100%;
    }
    .about{
        color:	rgb(203,170,108);
        background-color: transparent;
        outline:none;
        border: none;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 100%;
    }
    .catalog{
        color: 	rgb(203,170,108);
        background-color: transparent;
        outline:none;
        border: none;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 100%;
    }
    .contact{
        color: 	rgb(203,170,108);
        background-color: transparent;
        outline:none;
        border: none;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 100%;
    }
    p{
        color: rgb(203,170,108);
        margin-top: 90%;
        grid-column: 3/4;
        font-size: 70%;   
    }
    .social{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 15%;
        height: 33vh;
        justify-content: center;
    }
    .bloc2{
        width: 80%;
        height: 100vh;
        background-image: url("Capture\ d’écran\ \(125\).png");
        background-repeat: no-repeat;
        background-size: cover;
        font-family: Arial, Helvetica, sans-serif;
        opacity: 1;
        overflow-x: hidden;
    }
    
    .fa-facebook-square{
        grid-column: 2/3;
    } 
    .fa-youtube{
        grid-column: 3/4; 
    }
    .fa-instagram{
        grid-column: 4/5;
    }
   
    .lignes{
        position: absolute;
        top: 6%;
        left: 25%;
    }
    .l1{
      width: 200%;
      height: 1vh;
      background: rgb(203,170,108);
      border-radius: 5px;  
    }
    .l2{
        width: 10vw;
        height: 1vh;
        background: rgb(203,170,108);
        border-radius: 5px; 
        top: 20px ; 
        position: relative;
}
h1{
    text-transform: uppercase;
    font-size: 90px;
    padding: 10%;
    text-align: center;
    margin-top: 15%;
    color: rgb(203,170,108);
    font-family: Arial, Helvetica, sans-serif;

}
h1 span{
    position: relative;
}
.parag{
    border-radius: 90%;
    background-color: black;
    opacity: 0.7;
    text-align: center;
    margin-bottom: 50%;
    color:rgb(203,170,108) ;
    margin-top: 40vh;
    font-size: x-large;
    padding: 2%;   
}
.goa{
    padding: 2%;
    border-radius: 50%;
    background-color: black;
    opacity: 0.7;
    text-align: center;
    color:rgb(203,170,108) ; 
   
}
.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
}
.slides{
    width:500% ;
    height: 500px; 
    display: flex ;

}
.slides input{
   display: none; 
}
.slide{
    width: 20%;
    transition: 2s;
}
.slide img{
    width: 800px;
    height: 500px;
}
#radio1:checked ~ .first{
margin-left: 0 ;
}
#radio2:checked ~ .first{
    margin-left: -20% ;
}
#radio3:checked ~ .first{
    margin-left: -40% ;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
/*css for automatic navigation*/
.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}
.navigation-auto div{
    border: 4px solid rgb(0, 0, 0);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background: rgb(0, 0, 0);
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: rgb(0, 0, 0);
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: rgb(0, 0, 0);
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: rgb(0, 0, 0);
}
.catalogg{
        border-radius: 50%;
        text-align: center;
        color:rgb(203,170,108) ;
        font-size: 40%;
}






